@charset "UTF-8";
.person_center_row{
	margin-bottom:10px;
}
.person_center_text{
	line-height:30px;
	float:right;
}

.row .col-9 input{
			margin-bottom:10px;
		}
.row .col-2 label{
	line-height:30px;
	float:right;
}